.md-footer-meta{
  display:none !important;
}

.md-header-nav__source{
  display:none !important;
}

.md-grid {
    max-width: 122rem !important;
}

.framed-python{
  margin-top:-70px;
  overflow:hidden;
}

.framed-r{
  margin-top:0px;
  overflow:hidden;
}

.framed-r-api{
  margin-top:-50px;
  overflow:hidden;
}

.framed-github{
  height:100vh !important;
  width:100% !important;
}


img[alt=icon] { width: 50px; }

@media only screen and (min-width: 76.25em){
  .framed-python{
    margin-left:-45px;
  }
  .framed-r-api{
    margin-left:-20px;
  }
  .framed-content {
    width:110%;
  }

}
