{
  "swagger" : "2.0",
  "info" : {
    "title" : "OpenML File Storage API",
    "description" : "REST API for serving files stored by OpenML. Endpoint https://www.openml.org/data/v1/ No `api_key` is needed.",
    "version" : "1.0.0"
  },
  "schemes" : [ "https" ],
  "host" : "www.openml.org",
  "basePath" : "/data/v1",
  "produces" : [ "text/plain" ],
  "paths" : {
    "/download/{id}" : {
      "get" : {
        "summary" : "Download data file",
        "description" : "Streams the requested file (referenced by ID). The file ID is usually stated in the description of the dataset, task, flow or run retrieved from the main API. Will use gzip compression when requested by the client (with the Accept-Encoding header). Supports chunked downloads for large files. Will time out if the request is not completed in 300 seconds. Will automatically redirect if the file is stored elsewhere.\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of the file.",
          "required" : true,
          "type" : "number",
          "format" : "integer"
        } ],
        "tags" : [ "data" ],
        "responses" : {
          "403" : {
            "description" : "Insufficient rights to download the file."
          },
          "404" : {
            "description" : "File not found."
          },
          "200" : {
            "description" : "A plain text file. Typically in JSON, XML or ARFF format.",
            "examples" : {
              "text/plain" : "@RELATION iris @ATTRIBUTE 'sepallength' REAL @ATTRIBUTE 'sepalwidth' REAL @ATTRIBUTE 'petallength' REAL @ATTRIBUTE 'petalwidth' REAL @ATTRIBUTE 'class' {Iris-setosa,Iris-versicolor,Iris-virginica} @DATA 5.1,3.5,1.4,0.2,Iris-setosa 4.9,3.0,1.4,0.2,Iris-setosa 4.7,3.2,1.3,0.2,Iris-setosa 4.6,3.1,1.5,0.2,Iris-setosa 5.0,3.6,1.4,0.2,Iris-setosa 5.4,3.9,1.7,0.4,Iris-setosa 4.6,3.4,1.4,0.3,Iris-setosa\n"
            }
          }
        }
      }
    },
    "/view/{id}" : {
      "get" : {
        "summary" : "View data file",
        "description" : "Streams the requested file (referenced by ID) for viewing. The file ID is usually stated in the description of the dataset, task, flow or run retrieved from the main API. No download compression or chunking. Will automatically redirect if the file is stored elsewhere.\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of the file.",
          "required" : true,
          "type" : "number",
          "format" : "integer"
        } ],
        "tags" : [ "data" ],
        "responses" : {
          "403" : {
            "description" : "Insufficient rights to view the file."
          },
          "404" : {
            "description" : "File not found."
          },
          "200" : {
            "description" : "A plain text file. Typically in JSON, XML or ARFF format.",
            "examples" : {
              "text/plain" : "@RELATION iris @ATTRIBUTE 'sepallength' REAL @ATTRIBUTE 'sepalwidth' REAL @ATTRIBUTE 'petallength' REAL @ATTRIBUTE 'petalwidth' REAL @ATTRIBUTE 'class' {Iris-setosa,Iris-versicolor,Iris-virginica} @DATA 5.1,3.5,1.4,0.2,Iris-setosa 4.9,3.0,1.4,0.2,Iris-setosa 4.7,3.2,1.3,0.2,Iris-setosa 4.6,3.1,1.5,0.2,Iris-setosa 5.0,3.6,1.4,0.2,Iris-setosa 5.4,3.9,1.7,0.4,Iris-setosa 4.6,3.4,1.4,0.3,Iris-setosa\n"
            }
          }
        }
      }
    },
    "/get_csv/{id}" : {
      "get" : {
        "summary" : "Download CSV dataset",
        "description" : "Streams the requested dataset file (referenced by ID) in CSV format. The first line contains the column names. The file ID is stated in the dataset description retrieved from the main API. The file ID is NOT the same as the dataset ID.  Will use gzip compression when requested by the client (with the Accept-Encoding header). Supports chunked downloads for large files. Will time out if the request is not completed in 300 seconds. Will automatically redirect if the file is stored elsewhere.\n",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id of the dataset file.",
          "required" : true,
          "type" : "number",
          "format" : "integer"
        } ],
        "tags" : [ "data" ],
        "responses" : {
          "403" : {
            "description" : "Insufficient rights to view the file."
          },
          "404" : {
            "description" : "File not found, or file ID does not reference a dataset file."
          },
          "200" : {
            "description" : "A plain text file in CSV format.",
            "examples" : {
              "text/plain" : "sepallength,\"sepalwidth\",\"petallength\",\"petalwidth\",\"class\" 5.1,3.5,1.4,0.2,Iris-setosa 4.9,3.0,1.4,0.2,Iris-setosa 4.7,3.2,1.3,0.2,Iris-setosa 4.6,3.1,1.5,0.2,Iris-setosa 5.0,3.6,1.4,0.2,Iris-setosa 5.4,3.9,1.7,0.4,Iris-setosa"
            }
          }
        }
      }
    }
  }
}