<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.base.node.util.createtempdir.CreateTempDirectoryNodeFactory"/>
<entry key="node-name" type="xstring" value="Create Temp Dir"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="node.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="temp_path"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/tmp/knime_tempcreator_85eadd4a-2d30-441c-881c-b94e3541491b"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="dataset"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/tmp/knime_tempcreator_85eadd4a-2d30-441c-881c-b94e3541491b/dataset.arff"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="results"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="/tmp/knime_tempcreator_85eadd4a-2d30-441c-881c-b94e3541491b/results.arff"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Create%%00010temp dir"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="85"/>
<entry key="y-coordinate" type="xint" value="460"/>
<entry key="width" type="xint" value="130"/>
<entry key="height" type="xint" value="30"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
</config>
