openapi: 3.0.0
info:
  title: 'OpenML API'
  description: 'REST API for sharing, organizing and reusing machine learning datasets, code, and experiments. Follows a predictive URL scheme from endpoint https://www.openml.org/api/v1/json (or /xml). You need to add your api_key for every call except GET calls. The API key can be found in your profile on openml.org.'
  version: 1.0.0
servers:
  -
    url: 'https://openml.org/api/v1/json'
    description: 'The current OpenML API'
  -
    url: 'https://test.openml.org/api/v1/json'
    description: 'The test OpenML API'
paths:
  /data/tag:
    post:
      tags:
        - data
      summary: 'Tag a dataset'
      description: 'Tags a dataset.'
      operationId: 'Api_data::data_tag'
      parameters:
        -
          name: data_id
          in: query
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the tagged dataset'
          content:
            application/json:
              schema:
                properties:
                  data_tag: { $ref: '#/components/schemas/inline_response_200_2_data_tag' }
                type: object
              example:
                data_tag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n470 - In order to add a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n471 - Entity not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n472 - Entity already tagged by this tag. The entity {dataset, flow, run} already had this tag.\n473 - Something went wrong inserting the tag. Please contact OpenML Team.\n474 - Internal error tagging the entity. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/untag:
    post:
      tags:
        - data
      summary: 'Untag a dataset'
      description: 'Untags a dataset.'
      operationId: 'Api_data::data_untag'
      parameters:
        -
          name: data_id
          in: query
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The ID of the untagged dataset'
          content:
            application/json:
              schema:
                properties:
                  data_untag: { $ref: '#/components/schemas/inline_response_200_3_data_untag' }
                type: object
              example:
                data_untag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n475 - Please give entity_id {data_id, flow_id, run_id} and tag. In order to remove a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n476 - Entity {dataset, flow, run} not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n477 - Tag not found. The provided tag is not associated with the entity {dataset, flow, run}.\n478 - Tag is not owned by you. The entity {dataset, flow, run} was tagged by another user. Hence you cannot delete it.\n479 - Internal error removing the tag. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/list/{filters}':
    get:
      tags:
        - data
      summary: 'List and filter datasets'
      description: 'List datasets, possibly filtered by a range of properties. Any number of properties can be combined by listing them one after the other in the form ''/data/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all datasets that match the constraints.'
      operationId: 'Api_data::data_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, results 11..15 will be returned. Both limit and offset need to be specified.\r\n  /status/{status} - returns only datasets with a given status, either 'active', 'deactivated', or 'in_preparation'.\r\n  /tag/{tag} - returns only datasets tagged with the given tag.\r\n  /{data_quality}/{range} - returns only tasks for which the underlying datasets have certain qualities. {data_quality} can be data_id, data_name, data_version, number_instances, number_features, number_classes, number_missing_values. {range} can be a specific value or a range in the form 'low..high'. Multiple qualities can be combined, as in 'number_instances/0..50/number_features/0..10'.\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of datasets with the given task'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataList'
              example:
                data:
                  dataset: [{ did: '1', name: anneal, status: active, format: ARFF, quality: [{ name: MajorityClassSize, value: '684' }, { name: MaxNominalAttDistinctValues, value: '10.0' }, { name: MinorityClassSize, value: '0' }, { name: NumBinaryAtts, value: '14.0' }, { name: NumberOfClasses, value: '6' }, { name: NumberOfFeatures, value: '39' }, { name: NumberOfInstances, value: '898' }, { name: NumberOfInstancesWithMissingValues, value: '0' }, { name: NumberOfMissingValues, value: '0' }, { name: NumberOfNumericFeatures, value: '6' }, { name: NumberOfSymbolicFeatures, value: '32' }] }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n370 - Illegal filter specified.\n371 - Filter values/ranges not properly specified.\n372 - No results. There where no matches for the given constraints.\n373 - Can not specify an offset without a limit.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/{id}':
    get:
      tags:
        - data
      summary: 'Get dataset description'
      description: 'Returns information about a dataset. The information includes the name, information about the creator, URL to download it and more.'
      operationId: 'Api_data::data'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A dataset description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
              example:
                data_set_description:
                  id: '1'
                  name: anneal
                  version: '2'
                  description: ...
                  format: ARFF
                  upload_date: '2014-04-06 23:19:20'
                  licence: Public
                  url: 'https://www.openml.org/data/download/1/dataset_1_anneal.arff'
                  file_id: '1'
                  default_target_attribute: class
                  version_label: '2'
                  tag: [study_1, uci]
                  visibility: public
                  original_data_url: 'https://www.openml.org/d/2'
                  status: active
                  md5_checksum: d01f6ccd68c88b749b20bbe897de3713
        '412':
          description: 'Precondition failed. An error code and message are returned\n110 - Please provide data_id.\n111 - Unknown dataset. Data set description with data_id was not found in the database.\n112 - No access granted. This dataset is not shared with you.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - data
      summary: 'Delete dataset'
      description: 'Deletes a dataset. Upon success, it returns the ID of the deleted dataset.'
      operationId: 'Api_data::data_delete'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ID of the deleted dataset'
          content:
            application/json:
              schema:
                properties:
                  data_delete: { $ref: '#/components/schemas/inline_response_200_data_delete' }
                type: object
              example:
                data_delete:
                  id: '4328'
        '412':
          description: 'Precondition failed. An error code and message are returned\n- 350 - Please provide API key. In order to remove your content, please authenticate.\n- 351 - Authentication failed. The API key was not valid. Please try to login again, or contact api administrators.\n- 352 - Dataset does not exists. The data ID could not be linked to an existing dataset.\n- 353 - Dataset is not owned by you. The dataset is owned by another user. Hence you cannot delete it.\n- 354 - Dataset is in use by other content. Can not be deleted. The data is used in tasks or runs. Delete other content before deleting this dataset.\n- 355 - Deleting dataset failed. Deleting the dataset failed. Please contact support team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data:
    post:
      tags:
        - data
      summary: 'Upload dataset'
      description: 'Uploads a dataset. Upon success, it returns the data id.'
      operationId: 'Api_data::data_upload'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the dataset. Only name, description, and data format are required. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.data.upload) and an [XML example](https://www.openml.org/api/v1/xml_example/data).'
          required: true
          schema:
            type: file
        -
          name: dataset
          in: query
          description: 'The actual dataset, being an ARFF file.'
          required: true
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the uploaded dataset'
          content:
            application/json:
              schema:
                properties:
                  upload_data_set: { $ref: '#/components/schemas/inline_response_200_1_upload_data_set' }
                type: object
              example:
                upload_data_set:
                  id: '4328'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n130 - Problem with file uploading. There was a problem with the file upload.\n131 - Problem validating uploaded description file. The XML description format does not meet the standards.\n132 - Failed to move the files. Internal server error, please contact API administrators.\n133 - Failed to make checksum of datafile. Internal server error, please contact API administrators.\n134 - Failed to insert record in database. Internal server error, please contact API administrators.\n135 - Please provide description xml.\n136 - File failed format verification. The uploaded file is not valid according to the selected file format. Please check the file format specification and try again.\n137 - Please provide API key. In order to share content, please log in or provide your API key.\n138 - Authentication failed. The API key was not valid. Please try to login again, or contact API administrators\n139 - Combination name / version already exists. Leave version out for auto increment\n140 - Both dataset file and dataset url provided. The system is confused since both a dataset file (post) and a dataset url (xml) are provided. Please remove one.\n141 - Neither dataset file or dataset url are provided. Please provide either a dataset file as POST variable, or a dataset url in the description XML.\n142 - Error in processing arff file. Can be a syntax error, or the specified target feature does not exists. For now, we only check on arff files. If a dataset is claimed to be in such a format, and it can not be parsed, this error is returned.\n143 - Suggested target feature not legal. It is possible to suggest a default target feature (for predictive tasks). However, it should be provided in the data.\n144 - Unable to update dataset. The dataset with id could not be found in the database. If you upload a new dataset, unset the id.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/status/update/:
    post:
      tags:
        - data
      summary: 'Change the status of a dataset'
      description: 'Change the status of a dataset, either ''active'' or ''deactivated'''
      operationId: 'Api_data::status_update'
      parameters:
        -
          name: data_id
          in: query
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
        -
          name: status
          in: query
          description: 'The status on which to filter the results, either ''active'' or ''deactivated''.'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '412':
          description: 'Precondition failed. An error code and message are returned.\n691 - Illegal status\n692 - Dataset does not exists\n693 - Dataset is not owned by you\n694 - Illegal status transition\n695 - Status update failed\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/features/{id}':
    get:
      tags:
        - data
      summary: 'Get data features'
      description: 'Returns the features of a dataset.'
      operationId: 'Api_data::data_features'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'All the features of the dataset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataFeatures'
              example:
                data_features:
                  feature: [{ index: '0', name: sepallength, data_type: numeric, is_target: 'false', is_ignore: 'false', is_row_identifier: 'false' }, { index: '1', name: sepalwidth, data_type: numeric, is_target: 'false', is_ignore: 'false', is_row_identifier: 'false' }, { index: '2', name: petallength, data_type: numeric, is_target: 'false', is_ignore: 'false', is_row_identifier: 'false' }, { index: '3', name: petalwidth, data_type: numeric, is_target: 'false', is_ignore: 'false', is_row_identifier: 'false' }, { index: '4', name: class, data_type: nominal, is_target: 'true', is_ignore: 'false', is_row_identifier: 'false' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n270 - Please provide dataset ID.\n271 - Unknown dataset. Data set with the given data ID was not found (or is not shared with you).\n272 - No features found. The dataset did not contain any features, or we could not extract them.\n273 - Dataset not processed yet. The dataset was not processed yet, features are not yet available. Please wait for a few minutes.\n274 - Dataset processed with error. The feature extractor has run into an error while processing the dataset. Please check whether it is a valid supported file. If so, please contact the API admins.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/features:
    post:
      tags:
        - data
      summary: 'Upload dataset feature description'
      description: 'Uploads dataset feature description. Upon success, it returns the data id.'
      operationId: 'Api_data::data_features_upload'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the dataset. Only name, description, and data format are required. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.data.features) and an [XML example](https://www.openml.org/api/v1/xml_example/data.features).'
          required: true
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '412':
          description: 'Precondition failed. An error code and message are returned.\n431 - Dataset already processed\n432 - Please provide description xml\n433 - Problem validating uploaded description file\n434 - Could not find dataset\n436 - Something wrong with XML, check data id and evaluation engine id\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/qualities/list:
    get:
      tags:
        - data
      summary: 'List all data qualities'
      description: 'Returns a list of all data qualities in the system.'
      operationId: 'Api_data::data_qualities_list'
      responses:
        '200':
          description: 'A list of data qualities'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityList'
              example:
                data_qualities_list:
                  quality: [NumberOfClasses, NumberOfFeatures, NumberOfInstances, NumberOfInstancesWithMissingValues, NumberOfMissingValues, NumberOfNumericFeatures, NumberOfSymbolicFeatures]
        '412':
          description: 'Precondition failed. An error code and message are returned\n370 - No data qualities available. There are no data qualities in the system.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/qualities/{id}':
    get:
      tags:
        - data
      summary: 'Get data qualities'
      description: 'Returns the qualities of a dataset.'
      operationId: 'Api_data::data_qualities'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the dataset.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'All the qualities of the dataset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualities'
              example:
                data_qualities:
                  quality: [{ name: ClassCount, value: '3.0' }, { name: ClassEntropy, value: '1.584962500721156' }, { name: NumberOfClasses, value: '3' }, { name: NumberOfFeatures, value: '5' }, { name: NumberOfInstances, value: '150' }, { name: NumberOfInstancesWithMissingValues, value: '0' }, { name: NumberOfMissingValues, value: '0' }, { name: NumberOfNumericFeatures, value: '4' }, { name: NumberOfSymbolicFeatures, value: '0' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n360 - Please provide data set ID\n361 - Unknown dataset. The data set with the given ID was not found in the database, or is not shared with you.\n362 - No qualities found. The registered dataset did not contain any calculated qualities.\n363 - Dataset not processed yet. The dataset was not processed yet, no qualities are available. Please wait for a few minutes.\n364 - Dataset processed with error. The quality calculator has run into an error while processing the dataset. Please check whether it is a valid supported file. If so, contact the support team.\n365 - Interval start or end illegal. There was a problem with the interval\nstart or end.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/qualities:
    post:
      tags:
        - data
      summary: 'Upload dataset qualities'
      description: 'Uploads dataset qualities. Upon success, it returns the data id.'
      operationId: 'Api_data::data_qualities_upload'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the dataset. Only name, description, and data format are required. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.data.qualities) and an [XML example](https://www.openml.org/api/v1/xml_example/data.qualities).'
          required: true
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '412':
          description: 'Precondition failed. An error code and message are returned.\n381 - Something wrong with XML, please check did and evaluation_engine_id\n382 - Please provide description xml\n383 - Problem validating uploaded description file\n384 - Dataset not processed yet\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/unprocessed/{data_engine_id}/{order}':
    get:
      tags:
        - data
      summary: 'Get a list of unprocessed datasets'
      description: 'This call is for people running their own dataset processing engines. It returns the details of datasets that are not yet processed by the given processing engine. It doesn''t process the datasets, it just returns the dataset info.'
      operationId: 'Api_data::data_unprocessed'
      parameters:
        -
          name: data_engine_id
          in: path
          description: 'The ID of the data processing engine. You get this ID when you register a new data processing engine with OpenML. The ID of the main data processing engine is 1.'
          required: true
          schema:
            type: integer
        -
          name: order
          in: path
          description: 'When there are multiple datasets still to process, this defines which ones to return. Options are ''normal'' - the oldest datasets, or ''random''.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of unprocessed datasets'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUnprocessed'
              example:
                data_unprocessed:
                  run: [{ did: '1', status: deactivated, version: '2', name: anneal, format: ARFF }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n681 - No unprocessed datasets.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/qualities/unprocessed/{data_engine_id}/{order}':
    post:
      tags:
        - data
      summary: 'Get a list of datasets with unprocessed qualities'
      description: 'This call is for people running their own dataset processing engines. It returns the details of datasets for which certain qualities are not yet processed by the given processing engine. It doesn''t process the datasets, it just returns the dataset info.'
      operationId: 'Api_data::dataqualities_unprocessed'
      parameters:
        -
          name: data_engine_id
          in: path
          description: 'The ID of the data processing engine. You get this ID when you register a new data processing engine with OpenML. The ID of the main data processing engine is 1.'
          required: true
          schema:
            type: string
        -
          name: order
          in: path
          description: 'When there are multiple datasets still to process, this defines which ones to return. Options are ''normal'' - the oldest datasets, or ''random''.'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'API key to authenticate the user'
          required: false
          schema:
            type: string
        -
          name: qualities
          in: query
          description: 'Comma-separated list of (at least two) quality names, e.g. ''NumberOfInstances,NumberOfFeatures''.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of unprocessed datasets'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUnprocessed'
              example:
                data_unprocessed:
                  run: [{ did: '1', status: deactivated, version: '2', name: anneal, format: ARFF }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n686 - Please specify the features the evaluation engine wants to calculate (at least 2).\n687 - No unprocessed datasets according to the given set of meta-features.\n688 - Illegal qualities.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /estimationprocedure/list:
    get:
      tags:
        - estimationprocedure
      summary: 'List all estimation procedures'
      description: 'Returns an array with all model performance estimation procedures in the system.'
      operationId: 'Api_estimationprocedure::estimationprocedure_list'
      responses:
        '200':
          description: 'A list of estimation procedures'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationProcedureList'
              example:
                estimationprocedures:
                  estimationprocedure: [{ id: '1', ttid: '1', name: '10-fold Crossvalidation', type: crossvalidation, repeats: '1', folds: '10', stratified_sampling: 'true' }, { id: '2', ttid: '1', name: '5 times 2-fold Crossvalidation', type: crossvalidation, repeats: '5', folds: '2', stratified_sampling: 'true' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n500 - No model performance estimation procedures available.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/evaluation/request/{evaluation_engine_id}/{order}':
    get:
      tags:
        - evaluation
      summary: 'Get an unevaluated run'
      description: 'This call is for people running their own evaluation engines. It returns the details of a run that is not yet evaluated by the given evaluation engine. It doesn''t evaluate the run, it just returns the run info.'
      operationId: 'Api_evaluation::evaluation_request'
      parameters:
        -
          name: evaluation_engine_id
          in: path
          description: 'The ID of the evaluation engine. You get this ID when you register a new evaluation engine with OpenML. The ID of the main evaluation engine is 1.'
          required: true
          schema:
            type: string
        -
          name: order
          in: path
          description: 'When there are multiple runs still to evaluate, this defines which one to return. Options are ''normal'' - the oldest run, ''reverse'' - the newest run, or ''random'' - a random run.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of evaluations descriptions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationRequest'
              example:
                evaluation_request:
                  run: [{ setup_id: '68799271', upload_time: '2018-04-03 21:05:38', uploader: '1935', task_id: '3021', run_id: '8943712' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n100 - Function not valid.\n545 - No unevaluated runs according to the criteria.\n546 - Illegal filter.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/evaluation/list/{filters}':
    get:
      tags:
        - evaluation
      summary: 'List and filter evaluations'
      description: 'List evaluations, filtered by a range of properties. Any number of properties can be combined by listing them one after the other in the form ''/evaluation/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all evaluations that match the constraints. A maximum of 10,000 results are returned, an error is returned if the result set is bigger. Use pagination (via limit and offset filters), or limit the results to certain tasks, flows, setups, uploaders or runs.'
      operationId: 'Api_evaluation::evaluation_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /function/{name} - name of the evaluation measure, e.g. area_under_auc or predictive_accuracy. See the OpenML website for the complete list of measures.\r\n  /tag/{tag} - returns only evaluations of runs tagged with the given tag.\r\n  /run/{ids} - return only evaluations for specific runs, specified as a comma-separated list of run IDs, e.g. ''1,2,3''\r\n  /task/{ids} - return only evaluations for specific tasks, specified as a comma-separated list of task IDs, e.g. ''1,2,3''\r\n  /flow/{ids} - return only evaluations for specific flows, specified as a comma-separated list of flow IDs, e.g. ''1,2,3''\r\n  /setup/{ids} - return only evaluations for specific setups, specified as a comma-separated list of setup IDs, e.g. ''1,2,3''\r\n  /uploader/{ids} - return only evaluations uploaded by specific users, specified as a comma-separated list of user IDs, e.g. ''1,2,3''\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, results 11..15 will be returned. Both limit and offset need to be specified.\r\n  /per_fold/{true,false} - whether or not to return crossvalidation scores per fold. Defaults to 'false'. Setting it to 'true' leads to large numbers of results, use only for very specific sets of runs.\r\n  /sort_order/{asc,desc} - sorts the results by the evaluation value, according to the selected evaluation measure (function)\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of evaluations descriptions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationList'
              example:
                evaluations:
                  evaluation: [{ function: area_under_roc_curve, upload_time: '2014-04-06 23:30:40', task_id: '68', run_id: '1', array_data: '[0,0.99113,0.898048,0.874862,0.791282,0.807343,0.820674]', value: '0.839359', uploader: '1', flow_id: '61' }, { function: f_measure, upload_time: '2014-04-06 23:30:40', task_id: '68', run_id: '1', array_data: '[0,0,0.711934,0.735714,0.601363,0.435678,0.430913]', value: '0.600026', uploader: '1', flow_id: '61' }, { function: predictive_accuracy, upload_time: '2014-04-06 23:30:40', task_id: '68', run_id: '1', array_data: [], value: '0.614634', uploader: '1', flow_id: '61' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n540 - Please provide at least task, flow or setup, uploader or run, to\nfilter results, or limit the number of responses.\n541 - The input parameters (task_id, setup_id, flow_id, run_id, uploader_id) did not meet the constraints (comma separated list of integers).\n542 - There where no results. Check whether there are runs under the given constraint.\n543 - Too many results. Given the constraints, there were still too many results. Please add filters to narrow down the list.\n544 - Illegal filter specified.\n545 - Offset specified without limit.\n546 - Requested result limit too high.\n547 - Per fold can only be set to value ''true'' or ''false''.\n548 - Per fold queries are experimental and require a fair amount of filters on resulting run records to keep the query fast (use, e.g., flow, setup, task and uploader filter)\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /evaluationmeasure/list:
    get:
      tags:
        - evaluationmeasure
      summary: 'List all evaluation measures'
      description: 'Returns an array with all model evaluation measures in the system.'
      operationId: 'Api_evaluationmeasure::evaluationmeasure_list'
      responses:
        '200':
          description: 'A list of evaluation measures'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationMeasureList'
              example:
                evaluation_measures:
                  measures: { measure: [area_under_roc_curve, average_cost, binominal_test, build_cpu_time] }
  '/flow/list/{filters}':
    get:
      tags:
        - flow
      summary: 'List and filter flows'
      description: 'List flows, possibly filtered by a range of properties. Any number of properties can be combined by listing them one after the other in the form ''/task/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all flows that match the constraints.'
      operationId: 'Api_flow::flow_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, tasks 11..15 will be returned. Both limit and offset need to be specified.\r\n  /tag/{tag} - returns only tasks tagged with the given tag.\r\n  /uploader/{id} - return only evaluations uploaded by a specific user, specified by user ID.\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of flows'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowList'
              example:
                flows:
                  flow: [{ id: '65', full_name: weka.RandomForest(1), name: weka.RandomForest, version: '1', external_version: Weka_3.7.10_9186, uploader: '1' }, { id: '66', full_name: weka.IBk(1), name: weka.IBk, version: '1', external_version: Weka_3.7.10_8034, uploader: '1' }, { id: '67', full_name: weka.BayesNet_K2(1), name: weka.BayesNet_K2, version: '1', external_version: Weka_3.7.10_8034, uploader: '1' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n500 - No results. There where no matches for the given constraints.\n501 - Illegal filter specified.\n502 - Filter values/ranges not properly specified.\n503 - Can not specify an offset without a limit.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flow/tag:
    post:
      tags:
        - flow
      summary: 'Tag a flow'
      description: 'Tags a flow.'
      operationId: 'Api_flow::flow_tag'
      parameters:
        -
          name: flow_id
          in: query
          description: 'Id of the flow.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the tagged flow'
          content:
            application/json:
              schema:
                properties:
                  flow_tag: { $ref: '#/components/schemas/inline_response_200_12_flow_tag' }
                type: object
              example:
                flow_tag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n470 - In order to add a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n471 - Entity not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n472 - Entity already tagged by this tag. The entity {dataset, flow, run} already had this tag.\n473 - Something went wrong inserting the tag. Please contact OpenML Team.\n474 - Internal error tagging the entity. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flow/untag:
    post:
      tags:
        - flow
      summary: 'Untag a flow'
      description: 'Untags a flow.'
      operationId: 'Api_flow::flow_untag'
      parameters:
        -
          name: flow_id
          in: query
          description: 'Id of the flow.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the untagged flow'
          content:
            application/json:
              schema:
                properties:
                  flow_untag: { $ref: '#/components/schemas/inline_response_200_13_flow_untag' }
                type: object
              example:
                flow_untag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n475 - Please give entity_id {data_id, flow_id, run_id} and tag. In order to remove a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n476 - Entity {dataset, flow, run} not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n477 - Tag not found. The provided tag is not associated with the entity {dataset, flow, run}.\n478 - Tag is not owned by you. The entity {dataset, flow, run} was tagged\nby another user. Hence you cannot delete it.\n479 - Internal error removing the tag. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/flow/exists/{name}/{version}':
    get:
      tags:
        - flow
      summary: 'Check whether flow exists'
      description: 'Checks whether a flow with the given name and (external) version exists.'
      operationId: 'Api_flow::flow_exists'
      parameters:
        -
          name: name
          in: path
          description: 'The name of the flow.'
          required: true
          schema:
            type: string
        -
          name: version
          in: path
          description: 'The external version of the flow'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of flows'
          content:
            application/json:
              schema:
                properties:
                  flow_exists: { $ref: '#/components/schemas/inline_response_200_10_flow_exists' }
                type: object
              example:
                flow_exists:
                  exists: 'true'
                  id: '65'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n330 - Mandatory fields not present. Please provide name and external_version.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/flow/{id}':
    get:
      tags:
        - flow
      summary: 'Get flow description'
      description: 'Returns information about a flow. The information includes the name, information about the creator, dependencies, parameters, run instructions and more.'
      operationId: 'Api_flow::flow'
      parameters:
        -
          name: id
          in: path
          description: 'ID of the flow.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A flow description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
              example:
                flow:
                  id: '100'
                  uploader: '1'
                  name: weka.J48
                  version: '2'
                  external_version: Weka_3.7.5_9117
                  description: ...
                  upload_date: '2014-04-23 18:00:36'
                  language: Java
                  dependencies: Weka_3.7.5
                  parameter: [{ name: A, data_type: flag, default_value: [], description: 'Laplace smoothing...' }, { name: C, data_type: option, default_value: '0.25', description: 'Set confidence threshold...' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n180 - Please provide flow id.\n181 - Unknown flow. The flow with the given ID was not found in the database.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - flow
      summary: 'Delete a flow'
      description: 'Deletes a flow. Upon success, it returns the ID of the deleted flow.'
      operationId: 'Api_flow::flow_delete'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the flow.'
          required: true
          schema:
            type: integer
        -
          name: api_key
          in: query
          description: 'API key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ID of the deleted flow'
          content:
            application/json:
              schema:
                properties:
                  flow_delete: { $ref: '#/components/schemas/inline_response_200_8_flow_delete' }
                type: object
              example:
                flow_delete:
                  id: '4328'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n320 - Please provide API key. In order to remove your content, please authenticate.\n321 - Authentication failed. The API key was not valid. Please try to login again, or contact api administrators.\n322 - Flow does not exists. The flow ID could not be linked to an existing flow.\n323 - Flow is not owned by you. The flow is owned by another user. Hence you cannot delete it.\n324 - Flow is in use by other content. Can not be deleted. The flow is used in runs, evaluations or as a component of another flow. Delete other content before deleting this flow.\n325 - Deleting flow failed. Deleting the flow failed. Please contact\nsupport team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flow:
    post:
      tags:
        - flow
      summary: 'Upload a flow'
      description: 'Uploads a flow. Upon success, it returns the flow id.'
      operationId: 'Api_flow::flow_upload'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the flow. Only name and description are required. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.implementation.upload) and an [XML example](https://www.openml.org/api/v1/xml_example/flow).'
          required: true
          schema:
            type: file
        -
          name: flow
          in: query
          description: 'The actual flow, being a source (or binary) file.'
          required: false
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the uploaded flow'
          content:
            application/json:
              schema:
                properties:
                  upload_flow: { $ref: '#/components/schemas/inline_response_200_9_upload_flow' }
                type: object
              example:
                upload_flow:
                  id: '2520'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n160 - Error in file uploading. There was a problem with the file upload.\n161 - Please provide description xml.\n163 - Problem validating uploaded description file. The XML description format does not meet the standards.\n164 - Flow already stored in database. Please change name or version number\n165 - Failed to insert flow. There can be many causes for this error. If you included the implements field, it should be an existing entry in the algorithm or math_function table. Otherwise it could be an internal server error. Please contact API support team.\n166 - Failed to add flow to database. Internal server error, please contact API administrators\n167 - Illegal files uploaded. An non required file was uploaded.\n168 - The provided md5 hash equals not the server generated md5 hash of the file.\n169 - Please provide API key. In order to share content, please authenticate and provide API key.\n170 - Authentication failed. The API key was not valid. Please try to login again, or contact API administrators\n171 - Flow already exists. This flow is already in the database\n172 - XSD not found. Please contact API support team\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /run/tag:
    post:
      tags:
        - run
      summary: 'Tag a run'
      description: 'Tags a run.'
      operationId: 'Api_run::run_tag'
      parameters:
        -
          name: run_id
          in: query
          description: 'Id of the run.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the tagged run'
          content:
            application/json:
              schema:
                properties:
                  run_tag: { $ref: '#/components/schemas/inline_response_200_19_run_tag' }
                type: object
              example:
                run_tag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n470 - In order to add a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n471 - Entity not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n472 - Entity already tagged by this tag. The entity {dataset, flow, run} already had this tag.\n473 - Something went wrong inserting the tag. Please contact OpenML Team.\n474 - Internal error tagging the entity. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /run/untag:
    post:
      tags:
        - run
      summary: 'Untag a run'
      description: 'Untags a run.'
      operationId: 'Api_run::run_untag'
      parameters:
        -
          name: run_id
          in: query
          description: 'Id of the run.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the untagged run'
          content:
            application/json:
              schema:
                properties:
                  run_untag: { $ref: '#/components/schemas/inline_response_200_20_run_untag' }
                type: object
              example:
                run_untag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n475 - Please give entity_id {data_id, flow_id, run_id} and tag. In order to remove a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n476 - Entity {dataset, flow, run} not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n477 - Tag not found. The provided tag is not associated with the entity {dataset, flow, run}.\n478 - Tag is not owned by you. The entity {dataset, flow, run} was tagged by another user. Hence you cannot delete it.\n479 - Internal error removing the tag. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/run/list/{filters}':
    get:
      tags:
        - run
      summary: 'List and filter runs'
      description: 'List runs, filtered by a range of properties. Any number of properties can be combined by listing them one after the other in the form ''/run/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all runs that match the constraints. A maximum of 10,000 results are returned, an error is returned if the result set is bigger. Use pagination (via limit and offset filters), or limit the results to certain tasks, flows, setups, or uploaders.'
      operationId: 'Api_run::run_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /tag/{tag} - return only runs tagged with the given tag.\r\n  /run/{ids} - return only specific runs, specified as a comma-separated list of run IDs, e.g. ''1,2,3''\r\n  /task/{ids} - return only runs on specific tasks, specified as a comma-separated list of task IDs, e.g. ''1,2,3''\r\n  /flow/{ids} - return only runs on specific flows, specified as a comma-separated list of flow IDs, e.g. ''1,2,3''\r\n  /setup/{ids} - return only runs with specific setups, specified as a comma-separated list of setup IDs, e.g. ''1,2,3''\r\n  /uploader/{ids} - return only runs uploaded by specific users, specified as a comma-separated list of user IDs, e.g. ''1,2,3''\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, results 11..15 will be returned. Both limit and offset need to be specified.\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of runs descriptions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunList'
              example:
                runs:
                  run: [{ upload_time: '2014-04-06 23:30:40', task_id: '28', run_id: '100', error_message: [], setup_id: '12', uploader: '1', flow_id: '67' }, { upload_time: '2014-04-06 23:30:40', task_id: '48', run_id: '101', error_message: [], setup_id: '6', uploader: '1', flow_id: '61' }, { upload_time: '2014-04-06 23:30:40', task_id: '41', run_id: '102', error_message: [], setup_id: '3', uploader: '1', flow_id: '58' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n510 - Please provide at least task, flow or setup, uploader or run, to filter results, or limit the number of responses. The number of runs is huge. Please limit the result space.\n511 - Input not safe. The input parameters (task_id, setup_id, flow_id, run_id, uploader_id) did not meet the constraints (comma separated list of integers).\n512 - There where no results. Check whether there are runs under the given constraint.\n513 - Too many results. Given the constraints, there were still too many results. Please add filters to narrow down the list.\n514 - Illegal filter specified.\n515 - Offset specified without limit.\n516 - Requested result limit too high.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/run/{id}':
    get:
      tags:
        - run
      summary: 'Get run description'
      description: 'Returns information about a run. The information includes the name, information about the creator, dependencies, parameters, run instructions and more.'
      operationId: 'Api_run::run'
      parameters:
        -
          name: id
          in: path
          description: 'ID of the run.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A run description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
              example:
                run:
                  run_id: '100'
                  uploader: '1'
                  uploader_name: 'Jan van Rijn'
                  task_id: '28'
                  task_type: 'Supervised Classification'
                  task_evaluation_measure: predictive_accuracy
                  flow_id: '67'
                  flow_name: weka.BayesNet_K2(1)
                  setup_string: 'weka.classifiers.bayes.BayesNet -- -D -Q weka.classifiers.bayes.net.search.local.K2 -- -P 1 -S BAYES -E weka.classifiers.bayes.net.estimate.SimpleEstimator -- -A 0.5'
                  parameter_setting: [{ name: D, value: 'true' }, { name: Q, value: weka.classifiers.bayes.net.search.local.K2 }, { name: P, value: '1' }, { name: S, value: BAYES }]
                  input_data: { dataset: { did: '28', name: optdigits, url: 'https:\\/\\/www.openml.org\\/data\\/download\\/28\\/dataset_28_optdigits.arff' } }
                  output_data: { file: [{ did: '48838', file_id: '261', name: description, url: 'https:\\/\\/www.openml.org\\/data\\/download\\/261\\/weka_generated_run935374685998857626.xml' }, { did: '48839', file_id: '262', name: predictions, url: 'https:\\/\\/www.openml.org\\/data\\/download\\/262\\/weka_generated_predictions576954524972002741.arff' }], evaluation: [{ name: area_under_roc_curve, flow_id: '4', value: '0.990288', array_data: '[0.99724,0.989212,0.992776,0.994279,0.980578,0.98649,0.99422,0.99727,0.994858,0.976143]' }, { name: confusion_matrix, flow_id: '10', array_data: '[[544,1,0,0,7,0,1,0,0,1],[0,511,21,1,0,1,3,1,5,28],[0,7,511,1,0,1,0,3,23,11],[0,2,2,519,0,3,0,12,16,18],[0,3,0,0,528,0,4,21,6,6],[0,1,0,7,5,488,2,0,4,51],[1,7,0,0,2,0,548,0,0,0],[0,2,0,1,9,1,0,545,4,4],[1,25,2,2,3,6,2,1,503,9],[0,7,0,20,16,5,0,19,9,486]]' }, { name: f_measure, flow_id: '12', value: '0.922723', array_data: '[0.989091,0.898857,0.935041,0.92431,0.927944,0.918156,0.980322,0.933219,0.895018,0.826531]' }, { name: kappa, flow_id: '13', value: '0.913601' }] }
        '412':
          description: 'Precondition failed. An error code and message are returned.\n220 - Please provide run ID. In order to view run details, please provide the run ID.\n221 - Run not found. The run ID was invalid, run does not exist (anymore).\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - run
      summary: 'Delete run'
      description: 'Deletes a run. Upon success, it returns the ID of the deleted run.'
      operationId: 'Api_run::run_delete'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the run.'
          required: true
          schema:
            type: integer
        -
          name: api_key
          in: query
          description: 'API key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ID of the deleted run'
          content:
            application/json:
              schema:
                properties:
                  data_delete: { $ref: '#/components/schemas/inline_response_200_17_data_delete' }
                type: object
              example:
                run_delete:
                  id: '2520'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n390 - Please provide API key. In order to remove your content, please authenticate.\n391 - Authentication failed. The API key was not valid. Please try to login again, or contact api administrators\n392 - Run does not exists. The run ID could not be linked to an existing run.\n393 - Run is not owned by you. The run was owned by another user. Hence you cannot delete it.\n394 - Deleting run failed. Deleting the run failed. Please contact support team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/run/reset/{id}':
    get:
      tags:
        - run
      summary: 'Resets a run.'
      description: 'Removes all run evaluations. When a run is reset, the runs will automatically be evaluated as soon as they are picked up by the evaluation engine again.'
      operationId: 'Api_run::run_reset'
      parameters:
        -
          name: id
          in: path
          description: 'Run ID.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the evaluated run'
          content:
            application/json:
              schema:
                properties:
                  run_reset: { $ref: '#/components/schemas/inline_response_200_21_upload_flow' }
                type: object
              example:
                run_reset:
                  id: '2520'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n412 - Run does not exist\n413 - Run is not owned by you\n394 - Resetting run failed\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /run:
    post:
      tags:
        - run
      summary: 'Upload run'
      description: 'Uploads a run. Upon success, it returns the run id.'
      operationId: 'Api_run::run_upload'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the dataset. Only name, description, and data format are required. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.run.upload) and an [XML example](https://www.openml.org/api/v1/xml_example/run).'
          required: true
          schema:
            type: file
        -
          name: predictions
          in: query
          description: 'The predictions generated by the run'
          required: true
          schema:
            type: file
        -
          name: model_readable
          in: query
          description: 'The human-readable model generated by the run'
          required: false
          schema:
            type: file
        -
          name: model_serialized
          in: query
          description: 'The serialized model generated by the run'
          required: false
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the uploaded run'
          content:
            application/json:
              schema:
                properties:
                  upload_flow: { $ref: '#/components/schemas/inline_response_200_18_upload_flow' }
                type: object
              example:
                upload_run:
                  id: '2520'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n201 - Authentication failed. The API key was not valid. Please try to login again, or contact api administrators.\n202 - Please provide run XML.\n203 - Could not validate run xml by XSD. Please double check that the xml is valid.\n204 - Unknown task. The task with the given ID was not found in the database.\n205 - Unknown flow. The flow with the given ID was not found in the database.\n206 - Invalid number of files. The number of uploaded files did not match the number of files expected for the task type\n207 - File upload failed. One of the files uploaded has a problem.\n208 - Error inserting setup record. Please contact api administrators\n210 - Unable to store run. Please contact api administrators.\n211 - Dataset not in database. One of the datasets of the task was not included in database, please contact api administrators.\n212 - Unable to store file. Please contact api administrators.\n213 - Parameter in run xml unknown. One of the parameters provided in the run xml is not registered as parameter for the flow nor its components.\n214 - Unable to store input setting. Please contact API support team.\n215 - Unable to evaluate predictions. Please contact API support team.\n216 - Error thrown by Java Application. Additional information field is provided.\n217 - Error processing output data. Unknown or inconsistent evaluation measure. One of the provided evaluation measures could not be matched with a record in the math_function or flow table.\n218 - Wrong flow associated with run. The flow implements a math_function, which is unable to generate predictions. Please select another flow.\n219 - Error reading the XML document. The XML description file could not be verified.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/run/trace/{id}':
    get:
      tags:
        - run
      summary: 'Get run trace'
      description: 'Returns the optimization trace of run. The trace contains every setup tried, its evaluation, and whether it was selected.'
      operationId: 'Api_run::run_trace'
      parameters:
        -
          name: id
          in: path
          description: 'ID of the run.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A run trace description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunTrace'
              example:
                trace:
                  run_id: '573055'
                  trace_iteration: { repeat: '0', fold: '0', iteration: '1', setup_string: { parameter_minNumObj: '1', parameter_confidenceFactor: '0.25' }, evaluation: '94.074074', selected: 'true' }
        '412':
          description: 'Precondition failed. An error code and message are returned.\n570 - No successful trace associated with this run\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - run
      summary: 'Upload run trace'
      description: 'Uploads a run trace. Upon success, it returns the run id.'
      operationId: 'Api_run::run_trace_upload'
      parameters:
        -
          name: id
          in: path
          description: 'ID of the run.'
          required: true
          schema:
            type: integer
        -
          name: description
          in: query
          description: 'An XML file describing the trace. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.run.trace) and an [XML example](https://www.openml.org/api/v1/xml_example/run.trace).'
          required: true
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the run with the trace'
          content:
            application/json:
              schema:
                properties:
                  upload_flow: { $ref: '#/components/schemas/inline_response_200_23_upload_flow' }
                type: object
              example:
                run_trace:
                  id: '2520'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n561 - Problem with uploaded trace file.\n562 - Problem validating xml trace file.\n563 - Problem loading xml trace file.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /run/evaluate:
    post:
      tags:
        - run
      summary: 'Uploads a run evaluation'
      description: 'Uploads a run evaluation. When successful, it returns the run id.'
      operationId: 'Api_run::run_evaluate'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the run evaluation.Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.run.evaluate) and an [XML example](https://www.openml.org/api/v1/xml_example/run.evaluate).'
          required: true
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the evaluated run'
          content:
            application/json:
              schema:
                properties:
                  upload_flow: { $ref: '#/components/schemas/inline_response_200_21_upload_flow' }
                type: object
              example:
                run_evaluate:
                  id: '2520'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n422 - Upload problem description XML\n423 - Problem validating uploaded description file\n424 - Problem opening description xml\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setup/tag:
    post:
      tags:
        - setup
      summary: 'Tag a setup'
      description: 'Tags a setup.'
      operationId: 'Api_setup::setup_tag'
      parameters:
        -
          name: setup_id
          in: query
          description: 'Id of the setup.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the tagged setup'
          content:
            application/json:
              schema:
                properties:
                  flow_tag: { $ref: '#/components/schemas/inline_response_200_15_flow_tag' }
                type: object
              example:
                setup_tag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n470 - In order to add a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n471 - Entity not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n472 - Entity already tagged by this tag. The entity {dataset, flow, run} already had this tag.\n473 - Something went wrong inserting the tag. Please contact OpenML Team.\n474 - Internal error tagging the entity. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setup/untag:
    post:
      tags:
        - setup
      summary: 'Untag a setup'
      description: 'Untags a setup.'
      operationId: 'Api_setup::setup_untag'
      parameters:
        -
          name: setup_id
          in: query
          description: 'Id of the setup.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the untagged setup'
          content:
            application/json:
              schema:
                properties:
                  flow_untag: { $ref: '#/components/schemas/inline_response_200_16_flow_untag' }
                type: object
              example:
                setup_untag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n475 - Please give entity_id {data_id, flow_id, run_id} and tag. In order to remove a tag, please upload the entity id (either data_id, flow_id, run_id) and tag (the name of the tag).\n476 - Entity {dataset, flow, run} not found. The provided entity_id {data_id, flow_id, run_id} does not correspond to an existing entity.\n477 - Tag not found. The provided tag is not associated with the entity {dataset, flow, run}.\n478 - Tag is not owned by you. The entity {dataset, flow, run} was tagged\nby another user. Hence you cannot delete it.\n479 - Internal error removing the tag. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/setup/{id}':
    get:
      tags:
        - setup
      summary: 'Get a hyperparameter setup'
      description: 'Returns information about a setup. The information includes the list of hyperparameters, with name, value, and default value.'
      operationId: 'Api_setup::setup'
      parameters:
        -
          name: id
          in: path
          description: 'ID of the hyperparameter setup (configuration). These IDs are stated in run descriptions.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A setup description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setup'
              example:
                setup_parameters:
                  flow_id: '59'
                  parameter: [{ full_name: weka.JRip(1)_F, parameter_name: F, data_type: option, default_value: '3', value: '3' }, { full_name: weka.JRip(1)_N, parameter_name: 'N', data_type: option, default_value: '2.0', value: '2.0' }, { full_name: weka.JRip(1)_O, parameter_name: O, data_type: option, default_value: '2', value: '2' }, { full_name: weka.JRip(1)_S, parameter_name: S, data_type: option, default_value: '1', value: '1' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n280 - Please provide setup ID. In order to view setup details, please provide the run ID\n281 - Setup not found. The setup ID was invalid, or setup does not exist (anymore).\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - setup
      summary: 'Delete setup'
      description: 'Deletes a setup. Upon success, it returns the ID of the deleted setup.'
      operationId: 'Api_setup::setup_delete'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the setup.'
          required: true
          schema:
            type: integer
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ID of the deleted setup'
          content:
            application/json:
              schema:
                properties:
                  study_delete: { $ref: '#/components/schemas/inline_response_200_14_study_delete' }
                type: object
              example:
                setup_delete:
                  id: '1'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n401 - Authentication failed. Please provide API key. In order to remove your content, please authenticate.\n402 - Setup does not exists. The setup ID could not be linked to an existing setup.\n404 - Setup deletion failed. Setup is in use by other content (runs, schedules, etc). Can not be deleted.\n405 - Setup deletion failed. Please try again later.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/setup/list/{filters}':
    get:
      tags:
        - setup
      summary: 'List and filter setups'
      description: 'List setups, filtered by a range of properties. Any number of properties can be combined by listing them one after the other in the form ''/setup/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all evaluations that match the constraints. A maximum of 1,000 results are returned at a time, an error is returned if the result set is bigger. Use pagination (via limit and offset filters), or limit the results to certain flows, setups, or tags.'
      operationId: 'Api_setup::setup_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /tag/{tag} - returns only setups tagged with the given tag.\r\n  /flow/{ids} - return only setups for specific flows, specified as a comma-separated list of flow IDs, e.g. ''1,2,3''\r\n  /setup/{ids} - return only specific setups, specified as a comma-separated list of setup IDs, e.g. ''1,2,3''\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, results 11..15 will be returned. Both limit and offset need to be specified.\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of setup descriptions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupList'
              example:
                setups:
                  setup: [{ setup_id: '10', flow_id: '65', parameter: [{ id: '4144', flow_id: '65', flow_name: weka.RandomForest, full_name: weka.RandomForest(1)_I, parameter_name: I, data_type: option, default_value: '10', value: '10' }, { id: '4145', flow_id: '65', flow_name: weka.RandomForest, full_name: weka.RandomForest(1)_K, parameter_name: K, data_type: option, default_value: '0', value: '0' }] }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n670 - Please specify at least one filter.\n671 - Illegal filter.\n672 - Illegal filter input.\n673 - Result set too big. Please use one of the filters or the limit option.\n674 - No results, please check the filter.\n675 - Cannot specify offset without limit.\n676 - Requested result limit too high.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /study:
    post:
      tags:
        - study
      summary: 'Create new study'
      description: 'Creates a new study. Upon success, it returns the study id.'
      operationId: 'Api_study::study_create'
      parameters:
        -
          name: description
          in: query
          description: 'An XML file describing the study. Also see the [XSD schema](https://www.openml.org/api/v1/xsd/openml.study.upload) and an [XML example](https://www.openml.org/api/v1/xml_example/study).'
          required: true
          schema:
            type: file
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Id of the uploaded study'
          content:
            application/json:
              schema:
                properties:
                  upload_study: { $ref: '#/components/schemas/inline_response_200_25_upload_study' }
                type: object
              example:
                upload_study:
                  id: '4328'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n1031 - Description file not present. Please upload the study description.\n1032 - Problem validating uploaded description file. The XML description format does not meet the standards. See the XSD schema.\n1033 - Illegal main entity type. Currently only collections of tasks and can be created.\n1034 - Linked entities are not of the correct type fot this study.\n1035 - Benchmark suites can only be linked to run studies.\n1036 - Referred benchmark suite cannot be found.\n1037 - Referred benchmark suite should be a task collection.\n1038 - Study alias is not unique.\n1039 - Dataset insertion problem. Please contact the administrators.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/study/{id}/attach':
    post:
      tags:
        - study
      summary: 'Attach a new entity to a study'
      description: 'Attach a new entity to an exising study. Upon success, it returns the study id, type, and linked entities.'
      operationId: 'Api_study::study_attach'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the study. Supplied in the URL path.'
          required: true
          schema:
            type: integer
        -
          name: ids
          in: query
          description: 'Comma-separated list of entity IDs to be attached to the study. For instance, if this is a run study, the list of run IDs that need to be added (attached) to the study. Must be supplied as a POST variable.'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Properties of the updated study'
          content:
            application/json:
              schema:
                properties:
                  study_attach: { $ref: '#/components/schemas/inline_response_200_26_study_attach' }
                type: object
              example:
                study_attach:
                  id: '1'
                  main_entity_type: task
                  linked_entities: '5'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n1041 - Could not find study. Check the study ID in your request.\n1042 - Cannnot attach entities to legacy studies.\n1043 - Please provide POST field ''ids''.\n1044 - Please ensure that the ''ids'' in the POST field is a list of natural numbers.\n1045 - Could not attach entities to the study. It appears as if the entity does not exist.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/study/{id}/detach':
    post:
      tags:
        - study
      summary: 'Detach an entity from a study'
      description: 'Detach an entity from an exising study. Upon success, it returns the study id, type, and linked entities.'
      operationId: 'Api_study::study_detach'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the study.'
          required: true
          schema:
            type: integer
        -
          name: ids
          in: query
          description: 'Comma-separated list of entity IDs to be detached from the study. For instance, if this is a run study, the list of run IDs that need to be removed (detached) from the study. Must be supplied as a POST variable.'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Properties of the updated study'
          content:
            application/json:
              schema:
                properties:
                  upload_study: { $ref: '#/components/schemas/inline_response_200_26_study_attach' }
                type: object
              example:
                study_detach:
                  id: '1'
                  main_entity_type: task
                  linked_entities: '5'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n1041 - Could not find study. Check the study ID in your request.\n1042 - Cannot attach entities to legacy studies.\n1043 - Please provide POST field ''ids''.\n1044 - Please ensure that the ''ids'' in the POST field is a list of natural numbers.\n1046 - Could not detach entities from the study. It appears as if the entity does not exist.       \n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/study/{id}':
    get:
      tags:
        - study
      summary: 'Get study description by study id or alias'
      description: 'Returns information about the study with the given id or alias.'
      operationId: 'Api_study::study_get'
      parameters:
        -
          name: id
          in: path
          description: 'ID or alias of the study.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A study description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Study'
              example:
                study:
                  id: '99'
                  main_entity_type: task
                  name: 'CC18 benchmark suite'
                  description: 'CC18 benchmark suite'
                  creation_date: '2019-02-16T17:35:58'
                  creator: '1159'
                  data: { data_id: ['1', '2', '3'] }
                  tasks: { task_id: ['1', '2', '3'] }
        '412':
          description: 'Precondition failed. An error code and message are returned.\n601 - Unknown study. The study with the given id or alias was not found in the database\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - study
      summary: 'Delete study'
      description: 'Deletes a study. Upon success, it returns the ID of the deleted study.'
      operationId: 'Api_study::study_delete'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the study.'
          required: true
          schema:
            type: integer
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ID of the deleted study'
          content:
            application/json:
              schema:
                properties:
                  study_delete: { $ref: '#/components/schemas/inline_response_200_24_study_delete' }
                type: object
              example:
                study_delete:
                  id: '1'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n591 - Please provide API key. In order to remove your content, please authenticate.\n592 - Study does not exists. The study ID could not be linked to an existing study.\n593 - Study deletion failed. Please try again later.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/study/list/{filters}':
    get:
      tags:
        - study
      summary: 'List all studies (collections of items)'
      description: 'List studies, optionally filtered by a range of properties. Any number of properties can be combined by listing them one after the other in the form ''/study/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all studies that match the constraints.'
      operationId: 'Api_study::study_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /main_entity_type/{type} - only return studies collecting entities of a given type (e.g. 'task' or 'run').\r\n  /uploader/{ids} - return only evaluations uploaded by specific users, specified as a comma-separated list of user IDs, e.g. ''1,2,3''\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, results 11..15 will be returned. Both limit and offset need to be specified.\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of studies'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyList'
              example:
                study_list:
                  study: [{ id: '1', alias: Study_1, name: 'A large-scale comparison of classification algorithms', creation_date: '2017-07-20 15:51:20', creator: '2' }, { id: '2', alias: Study_2, name: 'Fast Algorithm Selection using Learning Curves', creation_date: '2017-07-20 15:51:20', creator: '2' }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /task/tag:
    post:
      tags:
        - task
      summary: 'Tag a task'
      description: 'Tags a task.'
      operationId: 'Api_task::task_tag'
      parameters:
        -
          name: task_id
          in: query
          description: 'Id of the task.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'The id of the tagged task'
          content:
            application/json:
              schema:
                properties:
                  task_tag: { $ref: '#/components/schemas/inline_response_200_6_task_tag' }
                type: object
              example:
                task_tag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n470 - In order to add a tag, please upload the entity id (either data_id, task_id, flow_id, run_id) and tag (the name of the tag).\n471 - Entity not found. The provided entity_id {data_id, task_id, flow_id, run_id} does not correspond to an existing entity.\n472 - Entity already tagged by this tag. The entity {dataset, task, flow, run} already had this tag.\n473 - Something went wrong inserting the tag. Please contact OpenML Team.\n474 - Internal error tagging the entity. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /task/untag:
    post:
      tags:
        - task
      summary: 'Untag a task'
      description: 'Untags a task.'
      operationId: 'Api_task::task_untag'
      parameters:
        -
          name: task_id
          in: query
          description: 'Id of the task.'
          required: true
          schema:
            type: integer
        -
          name: tag
          in: query
          description: 'Tag name'
          required: true
          schema:
            type: string
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A the features of the task'
          content:
            application/json:
              schema:
                properties:
                  task_untag: { $ref: '#/components/schemas/inline_response_200_7_task_untag' }
                type: object
              example:
                task_untag:
                  id: '2'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n475 - Please give entity_id {data_id, flow_id, run_id} and tag. In order to remove a tag, please upload the entity id (either data_id, task_id, flow_id, run_id) and tag (the name of the tag).\n476 - Entity {dataset, task, flow, run} not found. The provided entity_id {data_id, task_id, flow_id, run_id} does not correspond to an existing entity.\n477 - Tag not found. The provided tag is not associated with the entity {dataset, task, flow, run}.\n478 - Tag is not owned by you. The entity {dataset, flow, run} was tagged by another user. Hence you cannot delete it.\n479 - Internal error removing the tag. Please contact OpenML Team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/task/list/{filters}':
    get:
      tags:
        - task
      summary: 'List and filter tasks'
      description: 'List tasks, possibly filtered by a range of properties from the task itself or from the underlying dataset. Any number of properties can be combined by listing them one after the other in the form ''/task/list/{filter}/{value}/{filter}/{value}/...'' Returns an array with all tasks that match the constraints.'
      operationId: 'Api_task::task_list'
      parameters:
        -
          name: filters
          in: path
          description: "Any combination of these filters\r\n  /limit/{limit}/offset/{offset} - returns only {limit} results starting from result number {offset}. Useful for paginating results. With /limit/5/offset/10, tasks 11..15 will be returned. Both limit and offset need to be specified.\r\n  /status/{status} - returns only tasks with a given status, either 'active', 'deactivated', or 'in_preparation'.\r\n  /type/{type_id} - returns only tasks with a given task type id. See the list of task types of the ID's (e.g. 1 = Supervised Classification).\r\n  /tag/{tag} - returns only tasks tagged with the given tag.\r\n  /data_tag/{tag} - returns only tasks for which the underlying dataset is tagged with the given tag.\r\n  /{data_quality}/{range} - returns only tasks for which the underlying datasets have certain qualities. {data_quality} can be data_id, data_name, number_instances, number_features, number_classes, number_missing_values. {range} can be a specific value or a range in the form 'low..high'. Multiple qualities can be combined, as in 'number_instances/0..50/number_features/0..10'.\r\n  "
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'A list of tasks with the given tag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
              example:
                task:
                  task: [{ task_id: '1', task_type: 'Supervised Classification', did: '1', name: anneal, status: active, format: ARFF, input: [{ name: estimation_procedure, value: '1' }, { name: evaluation_measures, value: predictive_accuracy }, { name: source_data, value: '1' }, { name: target_feature, value: class }], quality: [{ name: MajorityClassSize, value: '684' }, { name: MaxNominalAttDistinctValues, value: '10.0' }, { name: MinorityClassSize, value: '0' }, { name: NumBinaryAtts, value: '14.0' }, { name: NumberOfClasses, value: '6' }, { name: NumberOfFeatures, value: '39' }, { name: NumberOfInstances, value: '898' }, { name: NumberOfInstancesWithMissingValues, value: '0' }, { name: NumberOfMissingValues, value: '0' }, { name: NumberOfNumericFeatures, value: '6' }, { name: NumberOfSymbolicFeatures, value: '32' }], tag: [basic, study_1, study_7, under100k, under1m] }]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n480 - Illegal filter specified.\n481 - Filter values/ranges not properly specified.\n482 - No results. There where no matches for the given constraints.\n483 - Can not specify an offset without a limit.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/task/{id}':
    get:
      tags:
        - task
      summary: 'Get task description'
      description: 'Returns information about a task. The information includes the task type, input data, train/test sets, and more.'
      operationId: 'Api_task::task'
      parameters:
        -
          name: id
          in: path
          description: 'ID of the task.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A task description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              example:
                task:
                  task_id: '1'
                  task_type: 'Supervised Classification'
                  input: [{ name: source_data, data_set: { data_set_id: '1', target_feature: class } }, { name: estimation_procedure, estimation_procedure: { type: crossvalidation, data_splits_url: 'https://www.openml.org/api_splits/get/1/Task_1_splits.arff', parameter: [{ name: number_repeats, value: '1' }, { name: number_folds, value: '10' }, { name: percentage }, { name: stratified_sampling, value: 'true' }] } }, { name: cost_matrix, cost_matrix: [] }, { name: evaluation_measures, evaluation_measures: { evaluation_measure: predictive_accuracy } }]
                  output: { name: predictions, predictions: { format: ARFF, feature: [{ name: repeat, type: integer }, { name: fold, type: integer }, { name: row_id, type: integer }, { name: confidence.classname, type: numeric }, { name: prediction, type: string }] } }
                  tag: [basic, study_1, under100k, under1m]
        '412':
          description: 'Precondition failed. An error code and message are returned.\n150 - Please provide task_id.\n151 - Unknown task. The task with the given id was not found in the database\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - task
      summary: 'Delete task'
      description: 'Deletes a task. Upon success, it returns the ID of the deleted task.'
      operationId: 'Api_task::task_delete'
      parameters:
        -
          name: id
          in: path
          description: 'Id of the task.'
          required: true
          schema:
            type: integer
        -
          name: api_key
          in: query
          description: 'Api key to authenticate the user'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'ID of the deleted task'
          content:
            application/json:
              schema:
                properties:
                  task_delete: { $ref: '#/components/schemas/inline_response_200_4_task_delete' }
                type: object
              example:
                task_delete:
                  id: '4328'
        '412':
          description: 'Precondition failed. An error code and message are returned.\n450 - Please provide API key. In order to remove your content, please authenticate.\n451 - Authentication failed. The API key was not valid. Please try to login again, or contact api administrators.\n452 - Task does not exists. The task ID could not be linked to an existing task.\n454 - Task is executed in some runs. Delete these first.\n455 - Deleting the task failed. Please contact support team.\n'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /task:
    post:
      tags:
        - task
      summary: 'Upload task'
      description: 'Uploads a task. Upon success, it returns the task id.'
      operationId: 'Api_task::task_upload'
      parameters:
        -
          name: description
          in: query
[...]
