export(authenticateUser)
exportClasses(OpenMLDataSetDescription)
exportClasses(OpenMLEstimationProcedure)
exportClasses(OpenMLExpSettings)
exportClasses(OpenMLImplementation)
exportClasses(OpenMLTask)
exportClasses(OptionalOpenMLDataSetDescription)
exportClasses(OptionalOpenMLEstimationProcedure)
export(downloadOpenMLImplementation)
export(downloadOpenMLTask)
export(uploadOpenMLRun)
export(uploadOpneMLImplementation)
import(BBmisc)
import(digest)
import(methods)
import(RCurl)
import(XML)
