#import(graphics)
#import(abind)  # commented out as it does not have a name space
#import(rpart)
#import(xts)
#import(quantmod)
#importFrom(zoo,as.zoo)

import(methods)
import(BBmisc)
import(XML)
importFrom(RWeka, read.arff)
importFrom(RCurl, getURL)


exportClasses(
  OpenMLTask,
  OpenMLDataSetDescription
  #OpenMLExpSettings
  #, OpenMLResults
)


exportMethods(show)


export(
  downloadOpenMLTask,
  
  # Constructors for the classes
  #OpenMLTask,
  #OpenMLDataSetDescription
  
  # Accessors for S4 objects
  taskType,
  targetFeature,
  expSettings,
  evaluationMeasures
)

